.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,100px);
    background-color: blue;
    grid-gap: 5px;
}
.container > div{
width: 100%;
height: 100%;
background-color: white;
}

.circle{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: 5px red solid;   
}

.cross{
    width: 100px;
    height:100px;
    display: flex;
}